@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1.2rem;
}
* body {
  background-color: rgb(244, 244, 244);
  padding: 0 2rem;
}
* body .add_data {
  background-color: rgb(244, 244, 244);
}
* body .add_data .add_wrapper {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  background-color: rgb(230, 225, 225);
  padding: 20px;
}
* body .add_data .add_wrapper .title {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}
* body .add_data .add_wrapper .add_form {
  width: 100%;
  /*表單驗證錯誤訊息*/
}
* body .add_data .add_wrapper .add_form .input_field {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
* body .add_data .add_wrapper .add_form .input_field label {
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}
* body .add_data .add_wrapper .add_form .input_field input {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 3px;
  text-align: left;
}
* body .add_data .add_wrapper .add_form .input_field textarea {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 3px;
  height: 125px;
  resize: none;
}
* body .add_data .add_wrapper .add_form .input_field .add_select {
  width: 100%;
  text-align: left;
  border: 1px solid #d5dbd9;
  font-size: 1rem;
  padding: 8px 5px;
}
* body .add_data .add_wrapper .add_form .add_btn {
  width: 5rem;
  border-radius: 5px;
  border: 1px solid #b2b5b4;
  margin-top: 1rem;
  margin-left: 8rem;
  cursor: pointer;
}
* body .add_data .add_wrapper .add_form .add_btn:hover {
  background-color: rgb(200, 196, 196);
}
* body .add_data .add_wrapper .add_form .inputarea {
  width: 100%;
}
* body .add_data .add_wrapper .add_form .messages {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(29, 49, 161);
}
* body .list .top_list {
  display: flex;
  justify-content: space-between;
}
* body .list .top_list .search_area select {
  margin-bottom: 1rem;
  font-size: 1rem;
  padding: 3px 5px;
}
* body .list .top_list .search_area .search_input {
  margin-bottom: 1rem;
  height: 2rem;
  text-indent: 10px;
  display: inline-block;
}
* body .list .top_list .search_area .search_btn {
  padding: 3px 5px;
  font-size: 1rem;
  cursor: pointer;
}
* body .list .top_list .total_product {
  font-size: 0.8rem;
}
* body .list .top_list .total_product ul {
  list-style-type: none;
}
* body .list .top_list .total_product ul li {
  padding: 5px 0;
}
* body .list .orderTable {
  width: 100%;
}
* body .list .orderTable thead tr {
  background-color: rgb(43, 42, 42);
  color: #edeeee;
  text-align: left;
}
* body .list .orderTable thead th {
  padding: 8px 15px;
}
* body .list .orderTable tbody tr {
  border-bottom: 1px solid #ddd;
}
* body .list .orderTable .orderList td {
  padding: 0.4rem 0;
  padding-left: 1.5rem;
}
* body .list .orderTable .orderList td .edit_btn {
  padding: 3px 5px;
  font-size: 1rem;
  cursor: pointer;
}
* body .list .orderTable .orderList td .cancel_btn {
  padding: 3px 5px;
  font-size: 1rem;
  cursor: pointer;
}
* body .list .orderTable .orderList td .save_btn {
  padding: 3px 5px;
  font-size: 1rem;
  cursor: pointer;
}
* body .list .orderTable .orderList .delete_btn {
  padding: 0;
  text-align: center;
}
* body .list .orderTable .orderList .delete_btn:hover {
  transform: scale(1.1);
  color: rgb(188, 39, 39);
}
* body .list .orderTable .orderList .delete_btn i {
  cursor: pointer;
  transition: all 0.2s ease;
}/*# sourceMappingURL=all.css.map */